**/*.svg
lib/
dist
_site/
coverage/
CNAME
LICENSE
yarn.lock
netlify.toml
yarn-error.log
*.sh
*.snap
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml
**/assets
.gitattributes
.stylelintrc
.vcmrc
.png
.npmrc.template
.huskyrc
.gitmodules
*.png
v2-doc/
Dockerfile
public
nginx
.ambiences
.browserslistrc
.dockerignore
.husky/
Jenkins/
*.tar
package-lock.json
