@charset 'utf-8';
:root {
	--default-font-family: 'PingFangLight PingFangRegular PingFangMedium';
	// Page color
	// 主色调
	--default-color: #1890ff;
	// hover
	--default-active-color: #f5222d;
	// 边框颜色
	--default-border-color: #d9d9d9;
	// 字体颜色
	--default-font-color: #333;
}
