@charset 'utf-8';

:root {
	// page commom size
	// 默认字体大小
	--default-font-size: 14px;
	// 描述及提示文字大小
	--default-prompt-font-size: 12px;
	// 小标题文字大小
	--min-title-size: 16px;
	// 一般标题文字大小
	--default-title-size: 18px;
	// 大标题文字大小
	--max-title-size: 20px;
	// 行间距
	--default-line-height: 1.777777777;
	// 间距
	--default-spacing: 15px;
	// 边角
	--default-radius: 4px;
}
