@charset 'utf-8';

@font-face {
    font-family: PingFangMedium;
    src: url('~@assets/font/PingFang Medium.ttf')
}

@font-face {
    font-family: PingFangLight;
    src: url('~@assets/font/PingFang Light.ttf')
}

@font-face {
    font-family: PingFangRegular;
    src: url('~@assets/font/PingFang Regular.ttf')
}

:root {
    --default-font-family: "PingFangLight PingFangRegular PingFangMedium";
    // Page color
    // 主色调
    --default-color: #1890ff;
    // hover
    --default-active-color: #f5222d;
    // 边框颜色
    --default-border-color: #d9d9d9;
    // 字体颜色
    --default-font-color: #333;
}
